{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "electron": "6.0.11" },
      "useBuiltIns": "usage",
      "debug": false,
      "corejs": 3
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
