.sidetoc-pane {
  padding: var(--inkdrop-sidetoc-padding);
  min-width: var(--inkdrop-sidetoc-width);
  max-width: var(--inkdrop-sidetoc-width);
  li {
    padding-left: 10px;
    line-height: 180%;
    list-style: none;
    word-break: break-all;
  }
  li:hover {
    background-color: var(--inkdrop-sidetoc-highlight-color);
  }
}

.sidetoc-pane-hide {
  display: none;
}

.sidetoc-pane-wrapper {
  position: absolute;
  overflow-y: auto;
  width: var(--inkdrop-sidetoc-pane-wrapper-width);
}
