.sidetoc-pane {
  padding: 1rem;
  min-width: var(--inkdrop-sidetoc-width);
  max-width: var(--inkdrop-sidetoc-width);
  overflow-y: scroll;
  li {
    padding-left: 10px;
    line-height: 180%;
    list-style: none;
  }
  li:hover {
    background-color: var(--inkdrop-sidetoc-highlight-color);
  }
}

.sidetoc-pane-hide {
  display: none;
}
